<div class="wrapper">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"> <img src="https://cdn4.iconfinder.com/data/icons/education-3-22/66/130-512.png" width="30"
        height="30" alt="">&nbsp; AYD2 Practica</a>
        <a class="navbar-brand"> <img src="https://cdn4.iconfinder.com/data/icons/education-3-22/66/130-512.png" width="30"
            height="30" alt="">&nbsp; Video</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <button id="nuevo" class="btn btn-success float-right" (click)="add_report()"><i class="fas fa-plus"></i> Nuevo Reporte</button>
            <h4 class="card-title"><i class="fas fa-list"></i> Miguel Angel Solis Yantuche - 201700543</h4>
          </div>
          <div class="card-body">
            <hr>
            <div class="row">
              <div class="col-md-12">
                <table class="table table-hover">
                  <thead class="thead-dark">
                    <tr>
                      <td scope="col">Id</td>
                      <td scope="col">Nombre</td>
                      <td scope="col">Edad</td>
                      <td scope="col" class="text-center"><i class="fas fa-cogs" ></i> </td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of usuarios" scope="row">
                      <td>{{item.id}}</td>
                      <td>{{item.nombre}}</td>
                      <td>{{item.edad}}</td>
                      <td style="width: 10%;" class="text-center"><a href="javascript:void(0);" id="btn_{{item.id}}" (click)="editar(item)">Editar</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>