<div class="modal-header">
    <h4 class="modal-title">Usuario</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <form readonly>
                    <div class="row">
                        <div class="col-sm-6 col-md-12">
                            <label for="name">Nombre</label>
                            <input class="form-control" id="name" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.name" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-12">
                            <label for="edad">Edad</label>
                            <input class="form-control" id="edad" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.edad" />
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div  *ngIf="usuario.edad == '-1'">
        <button id="crear" class="btn btn-success" id="add_button" (click)="addReport()">Crear</button>
    </div>
    <div  *ngIf="usuario.edad != '-1'">
        <button id="modificar" class="btn btn-success" id="add_button" (click)="modificar()">Modificar</button>
    </div>
    <button id="cerrar" class="btn btn-danger" (click)="activeModal.dismiss('')">
        Cerrar
    </button>
</div>